/* Root */
:root {
    /* Text color */
    --main-color-text: #fff;
    /* Background color */
    --main-bg-color: #1c1b21;
}

/* Common styles */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: normal;
    color: var(--main-color-text);
    background-color: var(--main-bg-color);
}
.section {
}
.title {
}
.text {
}
.container {
}
.link {
    text-decoration: none;
    color: var(--main-color-text);
}
.list {
    list-style-type: none;
}
.item {
}
.img {
}

/* Header block */
.header {}

.container {}

.container-nav {}

.nav {}

.header-nav {}

.logo {
    display: flex;
}

.logo-img {}

.list {
    display: flex;
    gap: 20px;
}

.header-list {}

.header-item {}

.header-link {}



.main-div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

/* Hero block */

.hero {}

.container-hero {}

.hero-title {}

.hero-text {}

.hero-audio {}

/* News block */
.section {}

.news {}


.container-news {}

.news-title {}

.news-list {}

.news-item {}

.news-link {}

.news-img {}

.news-text {}

/* Information block */

.info {}

.container-info {}

.info-title {}

.info-text {}

.info-list {}

.info-item {}

.info-img {}

/* Sidebar block */

.sidebar {}

.container-sidebar {}

.sidebar-title {}

.sidebar-text {}

.sidebar-link {}

.sidebar-img {}

/* Tracks block */
.tracks {}

.container-tracks {}

.tracks-title {}

.tracks-img {
    border-radius: 50%;
}

.tracks-audio {}

.tracks-text {}

.tracks-list {}

.tracks-item {}

.tracks-link {}

/* Gallery block */

.gallery {}

.container-gallery {}

.gallery-title {}

.gallery-list {}

.gallery-item {}

.gallery-img {
    border-radius: 35px 0px 35px;
}

.gallery-text {}

/* Events block */

.events {}

.container {}

.container-events {}

.events-title {}

.events-list {}

.events-item {}

.events-img {
    border-radius: 35px 0px 35px;
}

.events-club {}

.events-subtitle {}

.events-data {}

.events-btn {}

/* Footer block */
.footer {}

.container-footer {}

.footer-link {}

.logo-img {}

.management-list {}

.management-item {}

.menegment-title {}

.menegment-text {}

.socials-list {}

.socials-item {}

.socials-link {}

.socials-icon {}

.copy {}

/* Modal window */
.backdrop {
    position: fixed;
    top: o;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
}
.modal {
    width: 517px;
    height: 794px;

    background-color: #fafafa;

    border-radius: 15px;
}
.modal-icon {

}