/* Root */
:root {
    /* Text color */
    --main-color-text: #fff;
    /* Background color */
    --main-bg-color: #1c1b21;
    --bg-op-cl: #7A66CC;
    /* Background border color */
    --border-cl-main: #7A66CC;
    --border-cl-second: #53497B;
}

/* Common styles */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: normal;
    color: var(--main-color-text);
    background-color: var(--main-bg-color);
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0 auto;
}
ul, ol {
    margin: 0 auto;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}

.section {
    margin-bottom: 180px;
}
.section:first-child {
    margin-bottom: -180px;
}
.title {
}
.text {
}
.container {
}
.link {
    text-decoration: none;
    color: var(--main-color-text);
}
.list {
    list-style-type: none;
}
.item {
}
.img {
    display: block;
    max-width: 100%;

    border: 0;
    border-radius: 35px 0px 35px;
}

/* Header block */
.header {
    margin-bottom: -100px;
}

.container {
    width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.container-nav {}

.nav {}

.header-nav {}

.logo {
    display: flex;
}

.logo-img {
    border-radius: 0;
}

.news-list {
    display: flex;
    gap: 56px;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.header-item {}

.header-link {}



.main-div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

/* Hero block */

.hero {
    height: 1000px;
        
    background-image: url(../images/hero/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.container-hero {
    
}

.hero-title {
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    width: 100%;

    margin-bottom: 10px;
    padding-top: 412px;
}

.hero-text {
    font-family: Poppins;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 100%;

    margin-bottom: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px var(--main-color-text);
}

.hero-audio {}

/* News block */
.news {}


.container-news {}

.news-title {}

.news-list {
    display: flex;
    gap: 30px;
}

.news-item {}

.news-link {}

.news-wrapper {
    position: relative;
    width: 350px;
}

.news-img {}

.news-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    
    font-family: Poppins;
    font-size: 16px;
    text-align: left;

    width: 100%;
    height: 90px;
    bottom: 0;
    padding: 20px 20px;

    border-radius: 0 0 35px 0;
    background-color: var(--bg-op-cl);
    opacity: 0.699999988079071;
}

/* Information block */

.info {}

.container-info {
}

.con-title {
    
}

.info-title {
    
}

.info-text {
    width: 540px;
}

.info-text-lable{}

.info-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 33px;
}

.info-item {
    width: calc((100% - 40px) / 2);
}

.info-img-con {
    display: flex;
    justify-content: end;
}

.info-img {}

/* Sidebar block */

.sidebar {}

.container-sidebar {}

.sidebar-title {}

.sidebar-text {}

.sidebar-link {}

.sidebar-img {}

/* Tracks block */
.tracks {}

.container-tracks {}

.tracks-title {}

.tracks-img {
    width: 430px;
    height: 430px;

    border: 18px solid var(--border-cl-main);
    outline: 18px solid var(--border-cl-second);
    border-radius: 50%;
}

.tracks-audio {}

.tracks-text {}

.tracks-list {}

.tracks-item {}

.tracks-link {}

/* Gallery block */

.gallery {}

.container-gallery {}

.gallery-title {}

.gallery-list {}

.gallery-item {}

.gallery-img {
    border-radius: 35px 0px 35px;
}

.gallery-text {}

/* Events block */

.events {}

.container {}

.container-events {}

.events-title {}

.events-list {}

.events-item {}

.events-img {
    border-radius: 35px 0px 35px;
}

.events-club {}

.events-subtitle {}

.events-data {}

.events-btn {}

/* Footer block */
.footer {}

.container-footer {}

.footer-link {}

.logo-img {}

.management-list {}

.management-item {}

.menegment-title {}

.menegment-text {}

.socials-list {}

.socials-item {}

.socials-link {}

.socials-icon {}

.copy {}

/* Modal window */
.backdrop {
    position: fixed;
    top: o;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
}
.modal {
    width: 517px;
    height: 794px;

    background-color: #fafafa;

    border-radius: 15px;
}
.modal-icon {

}